/*!
 *	Body Styles
 *	These are not included in the widget
 */html,body{margin:0;padding:0;height:100%}#content{background:#471f53 url(Talent-Station-Landing.jpg) 50% 0 no-repeat;padding:284px 0 0;height:100%;width:100%;min-width:940px;margin:0 auto}#content .inner{width:922px;margin:10px auto}